body {
    font-family: 'Creepster', cursive, sans-serif;
    background: url('bg.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

#start-game {
    text-align: center;
    margin-top: 20px;
}

#start-game h1 {
    font-size: 36px;
    color: orange; /* Title color */
    margin-bottom: 20px;
}

#start-button {
    font-size: 24px;
    padding: 10px 20px;
    background-color: orange; /* Change this for Halloween theme */
    border: none;
    color: white;
    cursor: pointer;
}

#start-button:hover {
    background-color: darkorange; /* Change color on hover */
}

#turn-indicator {
    text-align: center;
    margin: 20px 0;
}

#current-team {
    font-size: 24px;
    font-weight: bold;
    color: yellow;
}

.answer {
    margin: 10px 0;
}

#user-answer {
    padding: 10px;
    font-size: 18px;
}
/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
    color: black; /* Change text color */
}

.close-button {
    color: red; /* Change close button color */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: darkred; /* Change color on hover */
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 10px;
    font-size: 18px;
    margin: 5px;
}
